<div class="container">
  <h1> Voici votre telephone</h1>

  <div class="show-phone">
    <%= @phone.brand %>
    <%= @phone.model %>
    <%= @phone.price %>
    <%= @phone.color %>
    <%= @phone.description %>
    <%= @phone.capacity_go %>
    <%= @phone.camera %>
  </div>
</div>
